<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Electro - HTML Ecommerce Template</title>

    <th:block th:replace="fragments/commonHead.html"></th:block>
    <script
            crossorigin="anonymous"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</head>
<body>
<header th:replace="fragments/commonHeader :: commonHeader"> </header>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
<link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" rel="stylesheet">



<!--&lt;!&ndash; catg header banner section &ndash;&gt;-->
<!--<section id="aa-catg-head-banner">-->
<!--    <img alt="fashion img" height="300" src="/dailyShop/img/slider/4.jpg" style="margin-left: auto; margin-right: auto; display: block;">-->
<!--    <div class="aa-catg-head-banner-area">-->
<!--        <div class="container">-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!--&lt;!&ndash; / catg header banner section &ndash;&gt;-->

<div class="section">

    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-8 col-md-push-3">
                <h2>주문 내역</h2>
                <div class="aa-product-catg-content">
                    <div class="aa-product-catg-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <tr class="danger">
                                    <th>주문일자</th>
                                    <th>주문번호</th>
                                    <th>주문자</th>
                                    <th>주소</th>
                                    <th>금액</th>
                                    <th>상태</th>
                                    <th>상세</th>
                                </tr>
                                <tr th:each="order: ${orders}">
                                    <td th:text="${order.orderDate}"></td>
                                    <td th:text="${#strings.substring(order.orderId,0,18)}"></td>
                                    <td th:text="${order.delivery.receiverName}"></td>
                                    <td th:text="${order.delivery.address}"></td>
                                    <td th:text="${order.delivery.phoneNumber1}"></td>
                                    <td th:text="${order.orderStatus}"></td>

                                    <td>
                                        <a class="btn btn-outline-danger" th:href="'/order/orderdetail/'+${order.orderSn}">조회</a>
                                        <a class="btn btn-outline-success " th:if ="${order.orderStatus.name().equals('DELIVERED')}" th:value="${order.orderSn}" th:onclick="|javascript:orderconfirm('${order.orderSn}')|">구매결정</a>
                                    </td>
                                </tr>


                            </table>
                            <div class="text-center display: d-inline align-middle" align="center">
                                <nav aria-label="Page navigation example"  class="text-center align-middle">
                                    <li class="pagination page-item" style="float: left;" th:value="${paging.prevPageIndex}"><a
                                            class="page-link" id="prevPage" name="pageNo" th:href="@{'?page=' + ${paging.prevPageIndex}}">Previous</a>
                                    </li>
                                    <ul class="pagination" style="float: left;"
                                        th:each="page : ${#numbers.sequence(paging.startPageIndex,paging.endPageIndex)} ">
                                        <li class="page-item" th:value="${page}"><a name="pageNo" th:href="@{'?page=' + ${page}}"
                                                                                    th:text="${page}"></a></li>
                                    </ul>
                                    <li class="pagination page-item" style="float: left;" th:value="${paging.nextPageIndex}"><a
                                            class="page-link" id="nextPage" name="pageNo"
                                            th:href="@{'?page=' + ${paging.nextPageIndex}}">Next</a></li>
                                </nav>
                            </div>
                        </div>

                    </div>

                    <div class="text-center">
                        <input class="btn btn-danger" onclick="location.href='/store?page=1'" type="button"
                               value="쇼핑 계속하기">
                    </div>

                </div>
            </div>


            <div class="col-lg-3 col-md-3 col-sm-4 col-md-pull-9">
                <aside class="sidebar">
                    <!-- single sidebar -->
                    <div class="">
                        <h3>나의 페이지</h3>
                        <ul class="sidebar-collapse">
                            <li><a href="/order/myorders?page=1">주문내역</a></li>
                            <li><a href="/cart/cart">장바구니(cart)내역</a></li>
                        </ul>
                    </div>
                </aside>
            </div>


        </div>
    </div>
</div>

<script th:inline="javascript">

    function orderconfirm(orderId){
        if(confirm("구매 확정하시겠습니까?")==true) {
            console.log("confirmed!");
            location.href = '/order/orderconfirm?orderId='+orderId;
        }
        else {
            alert("취소되었습니다.");
            console.log("no");
        }
    }

    $(document).ready(function () {
       //  var paging = [[${paging}]];
       // console.log(paging)
       $(".orderconfirm").click(function(){

           if(confirm("구매 확정하시겠습니까?")==true){
               alert("구매 확정되었습니다.")
               location.href = '/order/orderconfirm?orderId='+$(this).val();
           } else {
               alert("취소 되었습니다.");
           }
       });
    });
</script>
</body>
</html>

