<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>Electro - HTML Ecommerce Template</title>

	<th:block th:replace="fragments/commonHead.html"></th:block>

</head>
<body>
<!-- HEADER -->
<header th:replace="fragments/commonHeader :: commonHeader"> </header>
<!-- /HEADER -->

<!-- NAVIGATION -->
<!--		<nav id="navigation">-->
<!--			&lt;!&ndash; container &ndash;&gt;-->
<!--			<div class="container">-->
<!--				&lt;!&ndash; responsive-nav &ndash;&gt;-->
<!--				<div id="responsive-nav">-->
<!--					&lt;!&ndash; NAV &ndash;&gt;-->
<!--					<ul class="main-nav nav navbar-nav">-->
<!--						<li class="active"><a href="#">Home</a></li>-->
<!--						<li><a href="#">Hot Deals</a></li>-->
<!--						<li><a href="#">Categories</a></li>-->
<!--						<li><a href="#">Laptops</a></li>-->
<!--						<li><a href="#">Smartphones</a></li>-->
<!--						<li><a href="#">Cameras</a></li>-->
<!--						<li><a href="#">Accessories</a></li>-->
<!--					</ul>-->
<!--					&lt;!&ndash; /NAV &ndash;&gt;-->
<!--				</div>-->
<!--				&lt;!&ndash; /responsive-nav &ndash;&gt;-->
<!--			</div>-->
<!--			&lt;!&ndash; /container &ndash;&gt;-->
<!--		</nav>-->
<!-- /NAVIGATION -->

<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<div class="col-md-12">
				<ul class="breadcrumb-tree">
					<li><a href="#">Home</a></li>
					<li><a href="#">All Categories</a></li>
					<li><a href="#">Accessories</a></li>
					<li class="active">Headphones (227,490 Results)</li>
				</ul>
			</div>
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /BREADCRUMB -->

<!-- SECTION -->
<div class="section">
	<!-- container -->
	<div class="container">
		주문이 완료되었습니다.
	</div>
	<!-- /container -->
</div>
<!-- /SECTION -->

<!-- NEWSLETTER -->
<div id="newsletter" class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<div class="col-md-12">
				<div class="newsletter">
					<p>Sign Up for the <strong>NEWSLETTER</strong></p>
					<form>
						<input class="input" type="email" placeholder="Enter Your Email">
						<button class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribe</button>
					</form>
					<ul class="newsletter-follow">
						<li>
							<a href="#"><i class="fa fa-facebook"></i></a>
						</li>
						<li>
							<a href="#"><i class="fa fa-twitter"></i></a>
						</li>
						<li>
							<a href="#"><i class="fa fa-instagram"></i></a>
						</li>
						<li>
							<a href="#"><i class="fa fa-pinterest"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /NEWSLETTER -->

<!-- FOOTER -->
<footer th:replace="fragments/commonFooter ::commonFooter"></footer>
<!-- /FOOTER -->


<!-- jQuery Plugins -->
<th:block th:replace="fragments/commonJs.html"></th:block>

</body>
</html>
