<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.shop.DeliveryMapper">

    <select id="selectByUserSn" parameterType="integer" resultType="DeliveryDto">
        select
            u.*
            , d.delivery_sn
            , d.receiver_name
            , d.address
            , d.phone_number1
        from
            shop.deliveries d
            inner join shop.users u
            on d.user_sn = u.user_sn
        where
            u.user_sn = #{userSn}
    </select>


    <select id="selectBySn" parameterType="integer" resultType="DeliveryDto">
        select
           *
        from
            shop.deliveries
        where
            delivery_sn = #{deliverySn}
    </select>



</mapper>