<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.shop.DeliveryMapper">

    <select id="findDeliveryByUserSn" parameterType="integer" resultType="DeliveryDto">
        SELECT
            u.*
            , d.delivery_sn
            , d.receiver_name
            , d.address
            , d.phone_number1
        FROM
            shop.deliveries d
                INNER JOIN
            (
                SELECT *
                FROM shop.users
                WHERE
                    user_sn = #{userSn}
            ) u
                ON d.user_sn = u.user_sn
    </select>

    <select id="findDeliveryByDeliverySn" parameterType="integer" resultType="DeliveryDto">
        SELECT
           *
        FROM
            shop.deliveries
        WHERE
            delivery_sn = #{deliverySn}
    </select>

</mapper>