<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.shop.OrderItemMapper">
    <insert id="createOrderItems" parameterType="hashmap">
        insert into
            shop.orderitems(item_sn, order_sn, quantity)
        values
            <foreach item="item" collection="items" index="key" open="(" separator="),(" close=")">
                #{key},#{orderSn}, #{item}
            </foreach>
    </insert>
    <select id="findOrderItemListByOrderSn" parameterType="integer" resultType="OrderItemDto">
        select
            *
        from
            shop.orderitems
        where
            order_sn = #{orderSn}
    </select>
</mapper>