<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.shop.OrderMapper">
    <insert id="insert" parameterType="OrderDto">
        insert into
            shop.orders
            (
                order_id
                , order_date
                , order_status
                , price
                , delivery_sn
                , user_sn
            )
        values
            (
                #{orderId}
                , now()
                , #{orderStatus}
                , #{price}
                , #{deliverySn}
                , #{userSn}
            )
    </insert>

    <select id="selectSequenceNumber">
        select
            order_seq.NEXTVAL
        from
            shop.order_seq;
    </select>

    <select id="selectByUserSn" parameterType="integer" resultType="OrderDto">
        select
            o.*
            , d.receiver_name
            , d.address
            , d.phone_number1

            , u.user_id
            , u.password
            , u.user_name
            , u.phone_number
            , u.user_type
        from
            shop.orders o
            inner join
            shop.deliveries d
            on o.delivery_sn = d.delivery_sn
            inner join
            users u
            on o.user_sn = u.user_sn
        where
            o.user_sn=#{userSn}
    </select>

</mapper>