<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.shop.UserMapper">
    <insert id="insert" parameterType="UserDto">
        insert into shop.users
        (
            user_id
            ,password
            ,user_name
            ,phone_number
        )
        values
        (
            #{userId}
            ,#{password}
            ,#{userName}
            ,#{phoneNumber}
        )
    </insert>
    <select id="selectByIdAndPassword" parameterType="UserDto" resultType="UserDto">
        select *
        from shop.users
        where
            user_id = #{userId}
            and password = #{password}
    </select>
</mapper>