<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <!-- HEADER -->
    <header th:fragment="commonHeader">
        <!-- TOP HEADER -->
        <div id="top-header">
            <div class="container">
                <ul class="header-links pull-left">
                    <li><a href="#"><i class="fa fa-phone"></i> +021-95-51-84</a></li>
                    <li><a href="#"><i class="fa fa-envelope-o"></i> steve.jh.kang@gmail.com</a></li>
                    <li><a href="#"><i class="fa fa-map-marker"></i> 1734 Stonecoal Road</a></li>
                </ul>
                <ul class="header-links pull-right">
                    <li><a href="#"><i class="fa fa-won-sign"></i> KRW</a></li>
<!--                    <li th:text="${userSession}"></li>-->

                    <li sec:authorize="isAnonymous()"><i class="fa fa-key"></i><a sec:authorize="isAnonymous()" href="/user/login">Sign in</a> / <a href="/user/signup">Sign up</a></li>
                    <li sec:authorize="hasAnyRole('ROLE_SELLER','ROLE_BUYER')"><a href="/user/logoutAction"><i class="fa fa-key"></i>Logout</a></li>
                </ul>
            </div>
        </div>
        <!-- /TOP HEADER -->

        <!-- MAIN HEADER -->
        <div id="header">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <!-- LOGO -->
                    <div class="col-md-3">
                        <div class="header-logo">
                            <a href="/store?pageIndex=1" class="logo">
                                <img th:src="@{/resources/img/logo.png}" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- /LOGO -->

                    <!-- SEARCH BAR -->
                    <div class="col-md-6">
                        <div class="header-search">
                            <form id="searchForm" th:action="@{/store}" method="get" th:onsubmit="return search(this)">

                                <input type="hidden" name="page" value="1" />

                                <select name="searchType" class="input-select" >
                                    <option value="itemName" >상품명</option>
<!--                                    th:selected="${#strings.equals(paging.searchType, 'itemName')}"-->
                                    <option value="manufacturer">브랜드</option>
                                </select>

                                <input type="text" class="input" placeholder="Search here" id="mainSearchKeyword" name="searchText">

                                <button type="submit" class="search-btn">Search</button>
                            </form>
                        </div>
                    </div>
                    <!-- /SEARCH BAR -->

                    <!-- ACCOUNT -->
                    <div class="col-md-3 clearfix">
                        <div class="header-ctn">

                            <div>
                                <a href="/cart/mycart">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span>Your Cart</span>
                                    <!--                                    <div class="qty">2</div>-->
                                </a>
                            </div>
                            <!-- Cart -->
<!--                            <div class="dropdown">-->
<!--                                <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">-->
<!--                                    <i class="fa fa-shopping-cart"></i>-->
<!--                                    <span>Your Cart</span>-->
<!--&lt;!&ndash;                                    <div class="qty">3</div>&ndash;&gt;-->
<!--                                </a>-->
<!--                                <div class="cart-dropdown">-->
<!--                                    <div class="cart-list">-->
<!--                                        <div class="product-widget">-->
<!--                                            <div class="product-img">-->
<!--                                                <img th:src="@{/resources/img/product01.png}" alt="">-->
<!--                                            </div>-->
<!--                                            <div class="product-body">-->
<!--                                                <h3 class="product-name"><a href="#">product name goes here</a></h3>-->
<!--                                                <h4 class="product-price"><span class="qty">1x</span>$980.00</h4>-->
<!--                                            </div>-->
<!--                                            <button class="delete"><i class="fa fa-close"></i></button>-->
<!--                                        </div>-->

<!--                                        <div class="product-widget">-->
<!--                                            <div class="product-img">-->
<!--                                                <img th:src="@{/resources/img/product02.png}" alt="">-->
<!--                                            </div>-->
<!--                                            <div class="product-body">-->
<!--                                                <h3 class="product-name"><a href="#">product name goes here</a></h3>-->
<!--                                                <h4 class="product-price"><span class="qty">3x</span>$980.00</h4>-->
<!--                                            </div>-->
<!--                                            <button class="delete"><i class="fa fa-close"></i></button>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="cart-summary">-->
<!--                                        <small>3 Item(s) selected</small>-->
<!--                                        <h5>SUBTOTAL: $2940.00</h5>-->
<!--                                    </div>-->
<!--                                    <div class="cart-btns">-->
<!--                                        <a href="#">View Cart</a>-->
<!--                                        <a href="#">Checkout  <i class="fa fa-arrow-circle-right"></i></a>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
                            <!-- /Cart -->

<!--                            &lt;!&ndash; Wishlist &ndash;&gt;-->
<!--                            <div>-->
<!--                                <a href="#">-->
<!--                                    <i class="fa fa-heart-o"></i>-->
<!--                                    <span>Your Wishlist</span>-->
<!--                                    <div class="qty">2</div>-->
<!--                                </a>-->
<!--                            </div>-->
<!--                            &lt;!&ndash; /Wishlist &ndash;&gt;-->

                            <div>
                                <a href="/order/myorders?page=1">
                                    <i class="fa fa-user-o"></i>
                                    <span>My Page</span>
<!--                                    <div class="qty">2</div>-->
                                </a>
                            </div>

                            <!-- Menu Toogle -->
                            <div class="menu-toggle">
                                <a href="#">
                                    <i class="fa fa-bars"></i>
                                    <span>Menu</span>
                                </a>
                            </div>
                            <!-- /Menu Toogle -->
                        </div>
                    </div>
                    <!-- /ACCOUNT -->
                </div>
                <!-- row -->
            </div>
            <!-- container -->
        </div>
        <!-- /MAIN HEADER -->
    </header>
    <!-- /HEADER -->
    <th:block layout:fragment="script">
        <script th:inline="javascript">
            /*<![CDATA[*/

            function movePage(uri, queryString) {
                location.href = uri + queryString;
            }

            function search(form) {
                /*[- 드롭다운이 아닌 메인 검색 키워드로 검색했을 때 -]*/
                console.log("form: "+form);
                if (isEmpty(form) == true) {
                    var searchKeyword = document.getElementById("mainSearchKeyword");
                    // if (isEmpty(searchKeyword.value) == true) {
                    //     alert("키워드를 입력해 주세요.");
                    //     searchKeyword.focus();
                    //     return false;
                    // }
                    console.log("searchKeyword: " + searchKeyword)

                    form = document.getElementById("searchForm");
                    form.searchKeyword.value = searchKeyword.value;
                    form.submit();
                }
                //
                // if (isEmpty(form.searchKeyword.value) == true) {
                //     alert("키워드를 입력해 주세요.");
                //     form.searchKeyword.focus();
                //     return false;
                // }
            }
            /*[- end of function -]*/

            /*]]>*/
        </script>
    </th:block>
</html>